<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <clear />
    <add name="AEPEntities" connectionString="metadata=res://*/AEP.csdl|res://*/AEP.ssdl|res://*/AEP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.110.30.32;initial catalog=AEP;user id=AEP_User;password=AEP@User;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>


</configuration>