<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>

  <connectionStrings>
    <clear />
    <add name="AEPEntities" connectionString="metadata=res://*/AEP.csdl|res://*/AEP.ssdl|res://*/AEP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TPENITDB01;initial catalog=AEP;user id=AEP_User;password=AEP@User;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>

